absl-py==2.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiohttp-cors==0.7.0
aiosignal==1.3.2
alabaster==1.0.0
annotated-types==0.7.0
anthropic==0.45.2
antropy==0.1.9
anyio==4.8.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
argparse==1.4.0
arrow==1.3.0
astropy==7.0.0
astropy-iers-data==0.2025.2.3.0.32.42
asttokens==3.0.0
async-lru==2.0.4
attrs==25.1.0
babel==2.16.0
bcrypt==4.2.1
beartype==0.15.0
beautifulsoup4==4.12.3
bidict==0.23.1
biosppy==2.2.2
bleach==6.2.0
bokeh==3.6.3
boto3==1.35.99
botocore==1.35.99
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chex==0.1.88
click==8.1.8
cloudpickle==3.1.1
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.1
coverage==7.6.11
craftax @ git+https://github.com/MichaelTMatthews/Craftax.git@bf507cc5484d41f5ae18afe09b8c902f5b105ebf
cycler==0.12.1
debugpy==1.8.12
decorator==5.1.1
deeptrack==2.0.0
defusedxml==0.7.1
deprecated==1.2.18
dill==0.3.9
diplomacy==1.1.2
diskcache==5.6.3
distrax==0.1.5
distro==1.9.0
dm-tree==0.1.9
docutils==0.21.2
duckduckgo-search==7.3.0
-e file:///Users/linh/Downloads/ECGPreprocessor
edfio==0.4.5
einops==0.8.1
einx==0.3.0
ema-pytorch==0.7.7
emd-signal==1.6.4
encodec==0.1.1
etils==1.12.0
executing==2.2.0
farama-notifications==0.0.4
fastjsonschema==2.21.1
filelock==3.17.0
flax==0.10.2
fonttools==4.56.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fs==2.4.16
fsspec==2025.2.0
gast==0.6.0
gdown==5.2.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
gitpython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-pubsub==2.28.0
google-crc32c==1.6.0
google-generativeai==0.8.4
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
gymnax==0.0.8
h11==0.14.0
h3==4.2.1
h5py==3.12.1
heartpy==1.2.7
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.28.1
humanfriendly==10.0
humanize==4.11.0
idna==3.10
imageio==2.37.0
imagesize==1.4.1
importlib-metadata==8.5.0
importlib-resources==6.5.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.5.0
jaxlib==0.5.0
jedi==0.19.2
jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-bokeh==4.0.5
jupyter-client==8.6.3
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter-server==2.15.0
jupyter-server-terminals==0.5.3
jupyterlab==4.3.4
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.3
jupyterlab-widgets==3.0.13
kiwisolver==1.4.8
lazy-import==0.2.2
lazy-loader==0.4
linecache2==1.0.0
linkify-it-py==2.0.3
llvmlite==0.44.0
lxml==5.3.0
marimo==0.11.1
markdown==3.7
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.1.1
ml-dtypes==0.5.1
mlx==0.22.1
mne==1.9.0
mnelab==1.0.0
mock==5.1.0
more-itertools==10.6.0
mplcursors==0.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
nanospeech==0.0.2
narwhals==1.25.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
neurokit2==0.2.10
notebook==7.3.2
notebook-shim==0.2.4
numba==0.61.0
numpy==2.2.2
numpydoc==1.8.0
openai==1.61.0
opencv-python==4.11.0.86
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opt-einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.11.4
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
panel==1.6.0
param==2.2.0
parso==0.8.4
pathos==0.3.3
pathway==0.18.0
pexpect==4.9.0
pillow==11.1.0
pint==0.19.2
platformdirs==4.3.6
playwright==1.50.0
plotly==6.0.0
pluggy==1.5.0
polars==1.21.0
pooch==1.8.2
pox==0.3.5
ppft==1.7.6.9
primp==0.11.0
prometheus-client==0.21.1
prompt-toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==6.1.1
ptyprocess==0.7.0
pure-eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pybv==0.7.6
pycparser==2.22
pycrdt==0.11.1
pydantic==2.9.2
pydantic-core==2.23.4
pyedflib==0.1.39
pyee==12.1.1
pyerfa==2.0.1.5
pygame==2.6.1
pygments==2.19.1
pymdown-extensions==10.14.3
pyobjc-core==11.0
pyobjc-framework-cocoa==11.0
pyparsing==3.2.1
pyside6==6.8.2
pyside6-addons==6.8.2
pyside6-essentials==6.8.2
pysocks==1.7.1
pytest==8.3.4
pytest-asyncio==0.25.3
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.2.1
python-sat==1.8.dev14
pytz==2025.1
pyviz-comms==3.0.4
pywavelets==1.8.0
pyxdf==1.17.0
pyyaml==6.0.2
pyzmq==26.2.0
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
ruff==0.9.6
s3transfer==0.10.4
safetensors==0.5.2
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
send2trash==1.8.3
setuptools==75.8.0
shapely==2.0.7
shiboken6==6.8.2
shortuuid==1.0.13
simpleitk==2.4.1
simplejson==3.19.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlglot==10.6.1
stack-data==0.6.3
starlette==0.45.3
sympy==1.13.1
tabulate==0.9.0
tensorflow-probability==0.25.0
tensorstore==0.1.71
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2025.1.10
tinycss2==1.4.0
tinygrad @ git+https://github.com/tinygrad/tinygrad.git@ef7ad3f0779fad7fe7a2ea9947c8e8a22dda5ebb
tomlkit==0.13.2
toolz==1.0.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
traceback2==1.4.0
traitlets==5.14.3
tslearn==0.6.3
types-python-dateutil==2.9.0.20241206
typing-extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
ujson==5.10.0
ultralytics==8.3.73
ultralytics-thop==2.0.14
unittest2==1.1.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
uv==0.5.29
uvicorn==0.34.0
vocos==0.1.0
vocos-mlx==0.0.7
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
wfdb==4.2.0
widgetsnbextension==4.0.13
wrapt==1.17.2
xyzservices==2025.1.0
yarl==1.18.3
zipp==3.21.0
